<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%=BASE_URL%>favicon.ico">
    <title>messenger</title>
</head>
<body>
<div id="app"></div>
<style type="text/css">
    @font-face {
        font-family: 'TT Norms Thin';
        src: url('font/TTNorms-Thin.eot');
        src: url('font/TTNorms-Thin.eot?#iefix') format('embedded-opentype'),
        url('font/TTNorms-Thin.woff') format('woff'),
        url('font/TTNorms-Thin.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'TT Norms';
        src: url('font/TTNorms-ExtraLight.eot');
        src: url('font/TTNorms-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('font/TTNorms-ExtraLight.woff') format('woff'),
        url('font/TTNorms-ExtraLight.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
</style>
</body>
</html>
