<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%=BASE_URL%>favicon.ico">
    <title>messenger</title>
</head>
<body>

<style type="text/css">
    @font-face {
        font-family: 'TT Norms Thin';
        src: url('font/TTNorms-Thin.eot');
        src: url('font/TTNorms-Thin.eot?#iefix') format('embedded-opentype'),
        url('font/TTNorms-Thin.woff') format('woff'),
        url('font/TTNorms-Thin.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'TT Norms';
        src: url('font/TTNorms-ExtraLight.eot');
        src: url('font/TTNorms-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('font/TTNorms-ExtraLight.woff') format('woff'),
        url('font/TTNorms-ExtraLight.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    .messenger {
        font-family: TT Norms;
        width: 800px;
        display: flex;
        flex-direction: row;
        max-height: 400px;
    }




    .left-column {
        width: 30%;
        display: flex;
        flex-direction: column;
    }

    .left-column .info {
        padding: 24px 0 16px 20px;
        background-color: #F3F6F8;
        border-bottom: 1px solid #E9EDF2;
    }
    .left-column .info .title {
        color: #656B77;

        font-size: 14px;
        line-height: 20px;

    }
    .left-column .info .count {
        color: #D2D8DE;

        font-size: 14px;
        line-height: 20px;
    }


    .left-column div.chat.current {
        border-left: 2px solid #398BFF;
        background-color: #ffffff;
    }
    .left-column div.chat {
        background-color: #F3F6F8;
        height: 100px;
        border-bottom: 1px solid #E9EDF2;
    }
    .left-column div.chat .header .subject {
        padding-top: 21px;
        padding-left: 23px;
        float: left;

        font-size: 14px;
        line-height: 20px;
        color: #35383D;
    }
    .left-column div.chat .header .date {
        color: #B7C0C8;
        float: right;
        padding-top: 21px;
        padding-right: 20px;


        font-size: 10px;
        line-height: 14px;
        text-align: right;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
    .left-column div.chat .last-message {
        padding: 42px 20px 0 23px;

        font-size: 13px;
        line-height: 18px;
        color: #7D8790;
    }

    .right-column {
        width: 70%;
        min-height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .right-column .messages {
        flex: 1 1 auto;
        overflow-y: auto;
        min-height: 100px;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .right-column .messages .msg-box {
        display: flex;
        flex-direction: row;
    }
    .right-column .messages .msg-box .msg .content {
        font-size: 14px;
        line-height: 20px;
    }
    .right-column .messages .msg-box.right .msg .content {
        color: #474E54;
        background-color: #E9F5F4;
        border-radius: 8px 8px 0px 8px;
        margin: 0px 16px 0px 31px;
        padding: 18px 17px 16px 26px;
    }
    .right-column .messages .msg-box.left .msg .content {
        color: #474E54;
        background-color: #F6F7F9;
        border-radius: 8px 8px 8px 0px;
        margin: 0px 16px 0px 31px;
        padding: 18px 17px 16px 26px;
    }
    .right-column .messages .msg-box.right .msg .send-info {
        display: flex;
        justify-content: flex-end;
        margin: 9px 17px 20px 0px;
    }
    .right-column .messages .msg-box.left .msg .send-info {
        display: flex;
        justify-content: flex-start;
        margin: 9px 17px 20px 39px;
    }
    .right-column .messages .msg-box .msg .send-info .user {
        font-size: 13px;
        font-weight: bold;
        line-height: 18px;
        padding-right: 12px;
        color: #000000;
    }
    .right-column .messages .msg-box .msg .send-info .date {

        font-size: 10px;
        line-height: 14px;
        color: #B7C0C8;
        margin-top: 3px;
    }
    .right-column .messages .msg-box.left {
        justify-content: flex-start;
    }
    .right-column .messages .msg-box.right {
        justify-content: flex-end;
    }
    .right-column .messages .msg-box .msg {
        display: flex;
        flex-direction: column;
        max-width: 70%;
    }

    .right-column .sender {
        height: 79px;
        border-top: 1px solid #E9EDF2;
    }
    .right-column .sender textarea {
        height: 74px;
        width: 360px;
        border: none;
        fnot-size: 44px;
    }
    .right-column .sender .send-btn {
        float: right;
        width: 80px;
        height: 79px;
        background-color: #009EF7;
    }
    .right-column .sender .send-btn svg {
        margin-left: 28px;
        margin-top: 30px;
    }
    .right-column .sender .send-btn svg {
        margin-left: 28px;
        margin-top: 30px;
    }


</style>

<div class="messenger">
    <div class="left-column">

        <div class="info">
            <span class="title">Сообщения</span>
            <span class="count">22</span>
        </div>

        <div class="chat">
            <div class="header">
                <div class="subject">Тема 1</div>
                <div class="date">12 мая 2023</div>
            </div>
            <div class="last-message">Pharetra, eum ut primis orci labore velit? Ridiculus. Officia mattis pariatur justo</div>
        </div>

        <div class="chat current">
            <div class="header">
                <div class="subject">Тема 1</div>
                <div class="date">12 мая 2023</div>
            </div>
            <div class="last-message">Pharetra, eum ut primis orci labore velit? Ridiculus. Officia mattis pariatur justo</div>
        </div>

        <div class="chat">
            <div class="header">
                <div class="subject">Тема 1</div>
                <div class="date">12 мая 2023</div>
            </div>
            <div class="last-message">Pharetra, eum ut primis orci labore velit? Ridiculus. Officia mattis pariatur justo</div>
        </div>
    </div>
    <div class="right-column">
        <div class="messages">
            <div class="msg-box left">
                <div class="msg">
                    <div class="content">Morbi hac eligendi totam? Elementum mi facilis aliquet id turpis ultrices mollitia porttitor praesentium animi ullamco eleifend scelerisque, sapien quam explicabo conubia egestas vehicula!</div>
                    <div class="send-info">
                        <div class="user">Денис</div>
                        <div class="date">23.32.32 43:34</div>
                    </div>
                </div>
            </div>

            <div class="msg-box right">
                <div class="msg">
                    <div class="content">Ок. все будет сделано !!!!Ок. все будет сделано !!!!Ок. все будет сделано !!!!Ок. все будет сделано !!!!Ок. все будет сделано !!!!</div>
                    <div class="send-info">
                        <div class="user">Василий</div>
                        <div class="date">23.32.32 43:34</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="sender">
            <textarea>TEXT</textarea>
            <div class="send-btn">
                <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.00936317 17.2563C0.00989464 17.6114 0.3701 17.8528 0.698756 17.7183L20.8694 9.46274C21.2835 9.29324 21.2835 8.70676 20.8694 8.53726L0.698758 0.281704C0.370102 0.14719 0.00989463 0.388579 0.00936317 0.743697L0.000660091 6.55894C0.000282918 6.81096 0.187529 7.02387 0.437532 7.05569L11.8171 8.504C12.3996 8.57814 12.3996 9.42186 11.8172 9.496L0.437533 10.9443C0.187529 10.9761 0.000282918 11.189 0.000660091 11.4411L0.00936317 17.2563Z" fill="white"/></svg>
            </div>
        </div>
    </div>
</div>


</body>
</html>
