<script>
export default {
  props: {
    item: Object,
    selected: Boolean
  },
  computed: {
    lastMessage () {
      if (!this.item.parts.length) {
        return ''
      }
      let chat = this.item.parts[this.item.parts.length - 1]
      return chat.text.slice(0, 30) + '...'
    }
  },
  methods: {
  }
}
</script>
<template>
  <div :class="{'chat':true, 'current': this.selected}">
    <div class="header">
      <div class="subject">{{this.item.subject}}</div>
      <div class="date">{{ $moment(this.item.created) | moment('D MMM YYYY')}}</div>
    </div>
    <div class="last-message">{{this.lastMessage}}....</div>
  </div>
</template>

<style scoped lang="stylus">
  .chat.current
    border-left 2px solid #398BFF
    background-color #ffffff
  .chat
    background-color #F3F6F8
    height 100px
    border-bottom 1px solid #E9EDF2

    .subject
      padding-top 21px
      padding-left 23px
      float left
      font-size 14px
      line-height 20px
      color #35383D

    .date
      color #B7C0C8
      float right
      padding-top 21px
      padding-right 20px
      font-size 10px
      line-height 14px
      text-align right
      letter-spacing 0.05em
      text-transform uppercase

    .last-message
      padding 42px 20px 0 23px
      font-size 13px
      line-height 18px
      color #7D8790
</style>
