<script>
export default {
  props: {
    message: String,
    isShow: Boolean
  },
  data () {
    return {
      show: false
    }
  },
  methods: {
  },
  computed: {
    hasError () {
      return this.message !== ''
    }
  }
}
</script>
<template>
  <div v-if="hasError" class="error">
    {{this.message}}
  </div>
</template>

<style scoped lang="stylus">
  .error
    color #ffffff
    width 90%
    size 20px
    padding 20px
    text-align center
    background-color #ff0000
</style>
