<script>
export default {
  props: {
    load: Boolean
  }
}
</script>
<template>
  <div class="loader" v-if="this.load">
    <img src="/img/loader.gif">
  </div>
</template>

<style scoped lang="stylus">
  .loader
    width 90%
    padding 20px
    text-align center
</style>
