<script>
import { createNamespacedHelpers } from 'vuex'
const { mapState } = createNamespacedHelpers('chat')
export default {
  props: {
    item: Object
  },
  computed: {
    ...mapState(['user']),
    isMe () {
      return this.user.name === this.item.author
    }
  }
}
</script>

<template>
  <div class="msg-box" :class="{ 'left': !isMe, 'right': isMe}">
    <div class="msg">
      <div class="content ">
        {{item.text}}
      </div>
      <div class="send-info">
        <div class="user">{{item.author}}</div>
        <div class="date">{{ $moment(item.created) | moment('DD.MM.YYYY HH:mm')}}</div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="stylus">
  .msg-box
    display flex
    flex-direction row
    .msg
      display flex
      flex-direction column
      max-width 70%
      .content
        font-size 14px
        line-height 20px
        white-space pre-wrap
      .send-info .user
        font-size 13px
        font-weight bold
        line-height 18px
        padding-right 12px
        color #000000
      .send-info .date
        font-size 10px
        line-height 14px
        color #B7C0C8
        margin-top 3px

  .msg-box.right
    justify-content flex-end
    .content
      color #474E54
      background-color #E9F5F4
      border-radius 8px 8px 0px 8px
      margin 0px 16px 0px 31px
      padding 18px 17px 16px 26px
    .send-info
      display flex
      justify-content flex-end
      margin 9px 17px 20px 0px

  .msg-box.left
    justify-content flex-start
    .content
      color #474E54
      background-color #F6F7F9
      border-radius 8px 8px 8px 0px
      margin 0px 16px 0px 31px
      padding 18px 17px 16px 26px
    .send-info
      display flex
      justify-content flex-start
      margin 9px 17px 20px 39px

</style>
