<script>
export default {
  data () {
    return {
      message: ''
    }
  },
  methods: {
    send () {
      if (!this.message) {
        return
      }
      this.$emit('message', this.message)
      this.message = ''
    }
  }
}
</script>

<template>
  <div class="sender">
    <textarea v-model="message" placeholder="Введите текст..."></textarea>
    <div class="send-btn" @click="send">
      <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.00936317 17.2563C0.00989464 17.6114 0.3701 17.8528 0.698756 17.7183L20.8694 9.46274C21.2835 9.29324 21.2835 8.70676 20.8694 8.53726L0.698758 0.281704C0.370102 0.14719 0.00989463 0.388579 0.00936317 0.743697L0.000660091 6.55894C0.000282918 6.81096 0.187529 7.02387 0.437532 7.05569L11.8171 8.504C12.3996 8.57814 12.3996 9.42186 11.8172 9.496L0.437533 10.9443C0.187529 10.9761 0.000282918 11.189 0.000660091 11.4411L0.00936317 17.2563Z" fill="white"/></svg>
    </div>
  </div>
</template>

<style scoped lang="stylus">
  .sender
    height 79px
    border-top 1px solid #E9EDF2

    textarea
      height 74px
      width 360px
      border none
      font-size 16px
      outline none
      -moz-appearance none
      resize none

    .send-btn
      float right
      width 80px
      height 79px
      background-color #009EF7

      svg
        margin-left 28px
        margin-top 30px
</style>
