<script>
import { createNamespacedHelpers } from 'vuex'
import Chat from './components/chat'
import Loader from './components/loader'
import Sender from './components/sender'
import Message from './components/message'
import Error from './components/error'
const { mapState, mapActions, mapGetters } = createNamespacedHelpers('chat')

export default {
  props: {
    value: String
  },
  data () {
    return {
      error: ''
    }
  },
  components: {
    Chat,
    Loader,
    Sender,
    Message,
    Error
  },
  computed: {
    ...mapState(['chatsLoading', 'chatMessagesLoading', 'user', 'currentChatId']),
    ...mapGetters(['countMessages', 'chatList', 'chatMessages', 'getChat']),
    getMessages () {
      if (!this.currentChatId || this.chatMessagesLoading) {
        return []
      }
      return this.chatMessages(this.currentChatId)
    }
  },
  methods: {
    ...mapActions(['loadChats', 'loadChatMessages', 'sendMessage']),
    chooseChat (chatId) {
      this.error = ''
      this.loadChatMessages(chatId)
      this.changeUrl(chatId)
    },
    changeUrl (chatId) {
      if (this.currentChatId && chatId !== this.currentChatId) {
        this.$router.push({ name: 'chat', params: { id: chatId } })
      }
    },
    onMessageSend (message) {
      let msg = { chatId: this.currentChatId, text: message }
      this.sendMessage(msg)
    }
  },
  created () {
    this.loadChats().then(() => {
      let chatId = parseInt(this.$route.params.id, 10)
      if (chatId) {
        if (this.getChat(chatId)) {
          this.chooseChat(chatId)
        } else {
          this.error = 'Чат не найден'
        }
      }
    })
  }
}
</script>
<template>
  <div class="messenger">
    <div class="left-column">
      <div class="info">
        <span class="title">Сообщения</span>
        <span class="count">{{countMessages}}</span>
      </div>
      <Loader :load="chatsLoading"/>
      <div @click="chooseChat(chat.id)" v-for="chat in chatList" :key="chat.id">
        <Chat :item="chat" :selected="chat.id == currentChatId"/>
      </div>

    </div>
    <div class="right-column">
      <Error :message="error"/>
      <div v-if="currentChatId">
        <div class="messages">
          <Loader :load="chatMessagesLoading"/>
          <Message v-for="msg in getMessages" :key="msg.id" :item="msg" />
        </div>
        <Sender @message="onMessageSend"/>
      </div>
    </div>
  </div>
</template>

<style scoped lang="stylus">
  .messenger
    font-family TT Norms
    width 800px
    display flex
    flex-direction row
    max-height 400px

  .left-column
    width 30%
    display flex
    flex-direction column
    .info
      padding 24px 0 16px 20px
      background-color #F3F6F8
      border-bottom 1px solid #E9EDF2
      .title
        color #656B77
        font-size 14px
        line-height 20px
      .count
        color #D2D8DE
        font-size 14px
        line-height 20px
        padding-left 12px

  .right-column
    width 70%
    min-height 350px
    display flex
    flex-direction column
    justify-content flex-end

  .messages
    flex 1 1 auto
    overflow-y auto
    min-height 100px
    flex-direction column-reverse
    justify-content flex-end

</style>
